@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 20px;
}

html {
    scroll-behavior: smooth;
}
.logo-header {
    width: 180px;
    height: 50px;
}

.header {
    width: 100%;
    min-height: 40px;
    background-color: #292929;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 30px;
    gap: 8px 15px;
}

.headerBtnGroup {
    display: flex;
    gap: 15px;
}

.navBtn {
    font-size: 16px;
    padding: 6px;
    background-color: transparent;
    border: 2px solid transparent;
    color: #FFFFFF;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.navBtn:hover {
    border-bottom: 2px solid #FFFFFF;
    transition: 0.3s ease-in-out;
}

.container {
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

.modal {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #fff;
    padding: 20px;
    margin: 50px auto;
    max-width: 600px;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

h4 {
    margin: 0px 0px 20px;
    font-size: 24px;
    color: #292929;
    font-family: 'Poppins', sans-serif;
}

.input {
    display: flex;
    flex-direction: column;
}

.cadastro_filme {
    width: 405px;
    height: 53px;
    padding: 15px;
    margin: 0px 0px 10px;
    border: 1px solid #979797;
}

.select-categoria {
    appearance: none;
    padding: 10px;
    width: 405px;
    height: 53px;
    margin: 0px 0px 10px;
    font-size: 16px;
    border: 1px solid #979797;
    border-radius: 5px;
    background-color: #fff;
    cursor: pointer;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

.select-categoria:focus {
    outline: none;
    border-color: #979797;
}

.select-categoria::after {
    content: '\979';
    color: #979797;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    pointer-events: none;
}

.textarea {
    width: 100%;
    height: auto;
    min-height: 53px;
    max-height: 200px;
    padding: 15px;
    margin-bottom: 10px;
    border: 1px solid #979797;
    overflow: auto;
}

.cadastro_filme:focus {
    border-color: #979797;
    outline: none;
}

.enviar-foto {
    margin-top: 1rem;
}

.enviar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 2.5rem;
    border: none;
    border-radius: 5px;
    background-color: #25da52;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    margin-top: 2rem;
}

.enviar:hover {
    background-color: #30bd54;
    transition: 0.4s ease-in-out;
}

@media (max-width: 768px) {
    .modal {
        margin: 20px auto;
    }
}